In [19]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [21]:

# Step 1: Start Spark session
spark = SparkSession.builder.appName("CleanUncleanFinancialData").getOrCreate()

In [22]:
# Step 2: Load unclean dataset
df = spark.read.option("header", True).option("inferSchema", True).csv("/content/unclean_financial_data_extended_275k (1).csv")

In [23]:
from pyspark.sql.functions import col, sum

# Count nulls for each column
null_counts = df.select([
    sum(col(c).isNull().cast("int")).alias(c) for c in df.columns
])

# Show the result
null_counts.show()

+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+----------+-----------+
|user_id|Income|Age|Dependents|Occupation|City_Tier|Rent|Loan_Repayment|Insurance|Groceries|Transport|Eating_Out|Entertainment|Utilities|Healthcare|Education|Miscellaneous|Desired_Savings_Percentage|Desired_Savings|Disposable_Income|Potential_Savings_Groceries|Potential_Savings_Transport|Potential_Savings_Eating_Out|Potential_Savings_Entertainment|Potential_Savings_Utilities|Potential_Savings_Healthcare|Potential_Savings_Education|Potential_Savings_Miscellaneous|Total_Potential_Savings|Preferred_Investment|investment_label|temp_value|random_note|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+----------+-----------+
|      0|     0|  0|         0|         0|        0|   0|             0|        0|        0|        0|         0|            0|        0|         0|        0|            0|                         0|              0|                0|                          0|                          0|                           0|                              0|                          0|                           0|                          0|                              0|                      0|                   0|               0|    137206|          0|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+----------+-----------+

In [24]:
total_rows = df.count()

null_percentages = df.select([
    (sum(col(c).isNull().cast("int")) / total_rows * 100).alias(c) for c in df.columns
])

null_percentages.show()

+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+-----------------+-----------+
|user_id|Income|Age|Dependents|Occupation|City_Tier|Rent|Loan_Repayment|Insurance|Groceries|Transport|Eating_Out|Entertainment|Utilities|Healthcare|Education|Miscellaneous|Desired_Savings_Percentage|Desired_Savings|Disposable_Income|Potential_Savings_Groceries|Potential_Savings_Transport|Potential_Savings_Eating_Out|Potential_Savings_Entertainment|Potential_Savings_Utilities|Potential_Savings_Healthcare|Potential_Savings_Education|Potential_Savings_Miscellaneous|Total_Potential_Savings|Preferred_Investment|investment_label|       temp_value|random_note|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+-----------------+-----------+
|    0.0|   0.0|0.0|       0.0|       0.0|      0.0| 0.0|           0.0|      0.0|      0.0|      0.0|       0.0|          0.0|      0.0|       0.0|      0.0|          0.0|                       0.0|            0.0|              0.0|                        0.0|                        0.0|                         0.0|                            0.0|                        0.0|                         0.0|                        0.0|                            0.0|                    0.0|                 0.0|             0.0|49.89309090909091|        0.0|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+-----------------+-----------+

In [25]:
df.show()

+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+------------------+-----------+
|user_id|            Income|Age|Dependents|   Occupation|City_Tier|              Rent|    Loan_Repayment|         Insurance|         Groceries|         Transport|        Eating_Out|     Entertainment|         Utilities|        Healthcare|         Education|     Miscellaneous|Desired_Savings_Percentage|   Desired_Savings| Disposable_Income|Potential_Savings_Groceries|Potential_Savings_Transport|Potential_Savings_Eating_Out|Potential_Savings_Entertainment|Potential_Savings_Utilities|Potential_Savings_Healthcare|Potential_Savings_Education|Potential_Savings_Miscellaneous|Total_Potential_Savings|Preferred_Investment|investment_label|        temp_value|random_note|
+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+------------------+-----------+
|      1| 48381.49653073009| 48|         0|Self_Employed|   Tier_2| 9676.299306146018|               0.0| 1087.852153827866| 6320.330621957505|  2748.02229799729|1494.5574538277388|2378.1582620713266| 3603.873241051449|1520.2623630717771|               0.0| 892.5691421783581|        10.105102439709723| 4888.999786294881| 18659.57168860076|          1849.883662881597|         293.54408397404603|           202.0335627692417|             356.88135743154635|          839.2309674063396|           47.36174712814358|                        0.0|             215.13349315548507|      3804.068874746399|                Gold|               1|              NULL|      note3|
|      2|24712.199168693474| 29|         0|      Retired|   Tier_1| 7413.659750608042| 4286.404452675022| 875.0128309536242| 3029.443851719404|1762.9714808906506| 659.0837738451079|    919.4219883446|1364.8865120547648| 1131.770131547987|               0.0| 495.5661829695628|         7.562236553729196|1868.7949587653004|2773.9782130847125|          605.9932946873608|          256.3384670057974|          146.80064412112878|             235.19594142638712|          364.3576220400285|          38.795768132168014|                        0.0|              142.0872510979014|      1789.568988510772|       Fixed Deposit|               0|28.082387395527164|        nan|
|      3|   29451.856194697| 42|         2|Self_Employed|   Tier_2| 5890.371238939399|               0.0| 759.7350171999066| 3574.865270591186| 1848.956040538765| 1409.398563942816|1270.6151883703396|1657.2417269065236|1277.6364511804804|1605.5200572517049| 853.2520256906516|         7.880555047634647| 2320.969739973292| 9304.264614085225|          443.3429321129103|         250.72008250481124|           208.8896252753497|             105.74692221676874|         266.90388595431773|           57.69620468500556|          38.65457955921973|              216.8775601155443|     1588.8317924239277|       Fixed Deposit|               0|  85.1306746511808|      note3|
|      4| 5951.257629133142| 54|         4|      Retired|   Tier_2|1190.2515258266285|               0.0|296.58713674710776| 623.9650969694372| 392.5841273109386|176.23161649249425|156.79038459587073| 256.8591597849795|270.09734543279234| 518.0946227318499| 176.2809011363646|         8.706258384402991| 518.1318663138268|1893.5157121046784|         174.88066479987842|         111.01177035050507|          16.016618724245916|             10.675483030444283|         20.186360308313017|           2.858847650022958|          20.46949976885332|              40.55170923449321|      396.6509538667562|       Fixed Deposit|               0| 84.67970936750602|        nan|
|      5| 12854.89704631698| 35|         4| Professional|   Tier_1| 3856.469113895093|               0.0|441.46608222905695|1670.5053792236822|1005.4563678666276| 325.5800851789966| 401.9589189056052|1007.6578359152696| 449.5482248564398|1143.1455255791216| 329.5386908254652|         6.902994647203006| 887.3728550107185| 2223.570821841622|         163.16103449761863|         114.40111979536564|          20.305419175860777|             27.865601849579235|          219.2015680926615|          16.124440312535878|          15.45679122349396|              80.89556809763357|      657.4115430447491|       Fixed Deposit|               0|              NULL|        nan|
|      6| 27737.81398963286| 37|         4| Professional|   Tier_2| 5547.562797926573|3556.3513245314048| 615.6888958545367|3623.3118956622334|1736.0240196610516|1284.8396432076036| 930.0419123722912| 1910.862497039051| 1088.336569245291| 2728.033254672895| 588.4508169645673|          5.08701357239212| 1411.026362337504| 4128.310362495366|          895.2056266620091|         175.28290506041984|          321.66640108917017|             169.05358458809496|         106.63153275622471|           2.927231055232696|          90.28692610762968|              41.90589989336974|      1802.960107212151|       Fixed Deposit|               0|              NULL|        nan|
|      7| 12980.52162719647| 46|         3|Self_Employed|   Tier_2| 2596.104325439294| 2138.362588005044| 465.5258237856608| 1872.181647124716| 906.5229929507744| 278.7007463429796| 500.3607708263512| 708.6520965082117| 610.7734057023304| 889.8909444127335|152.51987474492822|         6.527220894848395| 847.2673199106829| 1860.926411353448|          381.1153278703976|         166.22126285504297|           56.62420559549199|              49.18068151970208|         136.83617963865947|          28.470811470339896|         0.4810293405372061|               45.7038819662378|      864.6333802564089|       Fixed Deposit|               0|              NULL|        nan|
|      8| 18230.16960512572| 27|         1|      Student|   Tier_2| 3646.033921025143| 3024.404044451804| 424.7023347850391|2319.2849729793843|  1209.87441402448|467.98435526339887| 662.8195083748245|  858.081073248034| 587.1114220650489| 1308.455628136495| 366.4201159045927|         7.436687009436167|1355.7206548225645|3354.9978148674672|         173.84931243254658|          219.2060207896831|           91.15021759753908|             113.10375191632755|          119.3690752026452|          15.691320939434716|          41.01989432549446|              92.47007922399104|      865.8596724276617|       Fixed Deposit|               0| 82.53929178348788|      note3|
|      9|10513.716670667842| 19|         3|      Retired|   Tier_2|2102.7433341335686|               0.0| 329.5133269860289| 1494.059359677532| 548.2059685843749| 479.2939030567806| 453.1223140991432|  632.318699137069| 383.1870145887116| 974.3189905645734| 167.4994690027184|         9.513730712345316|1000.2466919062958|2949.4542908373405|           421.490689641585|           99.5676677527333|           51.72197272345361|              89.60876507112226|          168.2646244254918|           7.428569654993182|          12.49804843528611|              35.24566025171181|       885.825997956377|       Fixed Deposit|               0|25.447210954693656|      note2|
|     10| 45208.13238516955| 22|         2|      Student|   Tier_1|13562.439715550863|               0.0| 980.2921732747644| 4805.454861524245|3199.4432235427453| 2067.915209015332| 2251.850786332904|   2874.4662021265| 2219.637354024922|3129.1120687252937|1047.2995150837546|          12.7117653463713| 5746.751706279644|  9070.22127596823|          1140.709244058508|         334.20412958366626|          116.96363621337632|              502.3119819183559|          574.8116054224449|          1.9510779878980105|         153.84526818122634|              188.8098333455304|     3013.6067767110058|                Gold|               1| 76.89901607326274|        nan|
|     11| 7540.030386834113| 21|         1| Professional|   Tier_1| 2262.009116050234|  435.166775409798| 308.9656863560245|1080.2888508712342| 516.1376913674055|260.92370510352515|348.00077371257066| 373.7135989039929| 246.1556471559624| 521.3881556022283|  82.8028774454363|         9.780495783336177| 737.4523540465767|1104.4775088557026|         127.88736416713982|           130.035996956843|          21.011599217732485|             28.070977879066792|          93.32179490345791|           2.472728950196041|         18.478098193355528|              7.175315908355147|      428.4538761761468|       Fixed Deposit|               0|              NULL|      note3|
|     12| 87319.73526894621| 25|         3|      Retired|   Tier_2|17463.947053789245| 6530.508007599167|2015.9718612516235|10051.351285799248| 4783.125302958511|3449.8221028107005| 2880.706027675884| 6287.377915042274| 4315.888755100695| 5375.927830380209| 906.4975949221264|         10.84023124315276| 9465.661224062587|23258.611531616523|          2944.368732930533|          627.5420239277037|           232.9369622924243|             193.92456754997457|          581.0375968294152|          100.86750332641635|         10.484331544798144|             235.11827078762715|      4926.279989188892|                Gold|               1| 43.67343666169376|      note2|
|     13| 91115.59706088614| 58|         0|      Retired|   Tier_1| 27334.67911826584|               0.0|2427.6826169480983|13095.835277331716| 6496.138060437759|3159.1283427051976| 3228.315726764145| 6209.353711693968| 4520.017343943564|               0.0|1787.4072410334722|        14.349726295639348|13074.838790874772|22857.039621762364|           843.417770407258|           778.357303552564|          236.41644040500688|              723.5513711083503|          470.3296110838925|           24.14202613969611|                        0.0|              352.9685088583332|      3429.183031555101|                Gold|               1| 80.98880383086437|        nan|
|     14| 46835.15701288124| 26|         0|Self_Employed|   Tier_1|14050.547103864372|               0.0| 1226.726637622096| 5839.184466139739| 3636.792830823833|1581.8940118259432| 1715.662611278514|2144.5796400945505| 1868.536746272095|               0.0| 663.5063555468886|        11.013087286398292|5157.9967225503015| 14107.72660941321|          486.9293209345345|         1006.8461466209282|          337.72622669732544|             250.65686069256483|          618.5348950242078|            76.7724645657242|                        0.0|             128.84700455644165|     2906.3129190917266|                Gold|               1|              NULL|      note3|
|     15|  43608.7279058354| 56|         2|      Retired|   Tier_3| 6541.309185875311| 2396.427544215818| 1532.357350190014| 5510.370097551132| 2353.909367250679|2104.4078713423096|1269.5881378513238|2061.6346918340582|1935.8568945667296| 3610.717766299408|1166.9476848546187|        11.390137342543426| 4967.094001810714|13125.201314004007|          1118.749592034978|          365.6513864845175|           571.5040372548115|              365.5671863944031|          242.9402033529376|           6.109953677936059|          31.46489055270284|              189.3105343758122|     2891.2977841280986|                Gold|               1|              NULL|      note3|
|     16|26733.764034341635| 61|         0|Self_Employed|   Tier_3| 4010.064605151245|               0.0| 749.8275239210028| 3095.418715549328|1722.1634439714155| 698.8328097887298|1221.0693524824665| 1138.870332496596| 970.1433414880408|               0.0|321.39485950014506|         9.739173138604404| 2603.647565770485|12805.979049992666|          665.0781583934739|          206.2110401123802|           72.54337812810965|              257.8241964962126|          247.1627730313428|          0.3164391176926789|                        0.0|              56.13741120126507|     1505.2733964804768|       Fixed Deposit|               0|              NULL|      note3|
|     17| 7699.078809705027| 59|         0|Self_Employed|   Tier_2|1539.8157619410056|               0.0|155.19652878541496|   939.22087044123| 507.6399488721276| 324.9268070413194|366.00324079822144| 461.3932825666861| 352.3626436638122|               0.0|174.86422700834598|         6.821050302008935| 525.1580384012907|2877.6554985868643|         261.38390733491434|          104.2207278907751|          22.532594903425505|              36.59670472066462|         125.56877621632438|           5.333600028607212|                        0.0|                11.825031609705|      567.4613427044161|       Fixed Deposit|               0|              NULL|      note2|
|     18|  88092.0119091878| 29|         1|      Student|   Tier_1| 26427.60357275634|  9000.67711706904| 2056.602492667122| 9606.701241122364| 5532.207176856468| 3701.088669915471|3603.4307276223576| 3570.138658494408| 2703.834854344403| 7337.060890014317| 980.6051771392654|         12.39396964297634|10918.097213911838|13572.061331186254|          2649.181370664968|          731.0823741405087|          267.12994555122776|              454.1193786957617|          478.7777434073701|             69.058790442044|          213.8468207262841|               76.4498224749159|      4939.646246103081|                Gold|               1| 78.83148049976525|        nan|
|     19|31893.806312515208| 62|         4|      Retired|   Tier_1| 9568.141893754562| 4796.885542604267| 1318.808517960263| 3928.175480503012|1873.7230665000689| 669.8069677007934|1338.1557271883712|1790.6314860650266| 977.6438054104864| 2665.965859027488| 629.4542617163532|         8.788217173343305|2336.4137040845126|2336.4137040845126|          844.3533114116117|         123.69169366410928|           82.64316032398152|             160.51330093673786|          359.3841771854086|          13.219079286395498|          77.64202139583294|             164.88696932424273|       1826.33371352832|       Fixed Deposit|               0|              NULL|        nan|
|     20|58498.343799773575| 18|         3|Self_Employed|   Tier_2|11699.668759954717|               0.0| 1409.750705520628| 5933.189197867686| 3480.948604341151|2759.1483784409934| 2696.896492120862|2375.5151322597744| 1944.966407333192| 4459.312329418664| 1589.358199285955|        10.659158293485834| 6235.431064685422| 20149.58959322996|         336.72238913081645|            287.62781571737|           469.5526632689611|             266.05460089217985|          387.9737995398851|           91.31297846596044|           94.7115904694223|              250.9274902861655|      2184.883327770761|                Gold|               1|              NULL|        nan|
+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+------------------+-----------+
only showing top 20 rows

In [27]:
# 🧹 Drop 'random_note' column if it exists
if "random_note" in df.columns:
    df = df.drop("random_note")

# 📏 Get number of rows
num_rows = df.count()

# ❌ Drop columns with more than 40% null values
null_ratio = df.select([(1 - (sum(col(c).isNotNull().cast("int")) / num_rows)).alias(c) for c in df.columns]).first().asDict()
cols_to_drop = [col_name for col_name, ratio in null_ratio.items() if ratio > 0.4]
df = df.drop(*cols_to_drop)

# 🧼 Drop remaining rows with nulls
df = df.na.drop()

# 🚮 Drop duplicate rows
df = df.dropDuplicates()

# 💾 Save the cleaned dataset
df.write.option("header", True).mode("overwrite").csv("final_cleaned_original_dataset.csv")

In [11]:
# Step 4: Drop columns with >40% nulls
total_count = df.count()
null_ratios = df.select([
    (1 - (sum(col(c).isNotNull().cast("int")) / total_count)).alias(c) for c in df.columns
]).first().asDict()
columns_to_drop = [col for col, null_pct in null_ratios.items() if null_pct > 0.4]
df = df.drop(*columns_to_drop)

In [29]:
 df = df.drop('random_note')

In [30]:
df.show()

+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+
|user_id|            Income|Age|Dependents|   Occupation|City_Tier|              Rent|    Loan_Repayment|         Insurance|         Groceries|         Transport|        Eating_Out|     Entertainment|         Utilities|        Healthcare|         Education|     Miscellaneous|Desired_Savings_Percentage|   Desired_Savings| Disposable_Income|Potential_Savings_Groceries|Potential_Savings_Transport|Potential_Savings_Eating_Out|Potential_Savings_Entertainment|Potential_Savings_Utilities|Potential_Savings_Healthcare|Potential_Savings_Education|Potential_Savings_Miscellaneous|Total_Potential_Savings|Preferred_Investment|investment_label|
+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+
|     79|11692.974779522814| 22|         0| Professional|   Tier_1| 3507.892433856844|1613.4177668737898|429.65161186632656|1736.5473544500046| 685.8069893908992|356.16399168171205| 534.2163864691261| 577.6476384238758| 377.0603735977906|               0.0|123.50014564503108|         5.582706100507954| 652.7844163472766| 1751.070087267413|          88.07400191437488|         184.19019410359743|           59.14091020641573|              69.17781213918973|         102.32402705499187|           11.68862774501621|                        0.0|             14.295519692271146|       528.891092855857|       Fixed Deposit|               0|
|    125| 16826.80544923955| 29|         2|Self_Employed|   Tier_1| 5048.041634771865| 1155.627923698831|374.43052165965815|2458.9667771024124|1038.3807697694642|348.75840884307206|  495.538275423989|1187.5334156202443| 777.7007907540898|1622.4260078376883| 457.6089388312264|         6.194365036988506|1042.3137535897713| 1861.791984927008|          423.3217113364656|          65.11404603251037|           76.43990786276619|              38.21367920448729|          327.0230232909159|           3.311035805793213|          74.78092513759242|              25.59456920918116|     1033.7988978797125|       Fixed Deposit|               0|
|    483|10051.224048204514| 58|         0|Self_Employed|   Tier_2| 2010.244809640903|1314.8177527793432| 453.9231180197063| 1235.401566621376| 574.5216004874104| 370.6965151676397| 428.5544723869968| 723.5649720381989| 464.9290084126829|               0.0| 227.5155360915115|         7.160442105392866| 719.7120788550094|2247.0546965587464|          198.8169949275272|          73.95995626906812|           51.93336916499539|              37.33303613560268|          66.53632983739503|           7.995043190464577|                        0.0|             63.558109765095466|     500.13283929014847|       Fixed Deposit|               0|
|    484|19084.624396327403| 43|         4|      Student|   Tier_2|3816.9248792654807|               0.0| 938.5133799209348|2752.6549903254063| 1455.794729228867| 594.1716628818565| 741.3959024942175|1438.7669034964815| 762.4046357941525|1660.8533361736966|   428.04577899104|         5.141373791494655|  981.211876917972| 4495.098197755267|          750.3751766981393|          86.61646146501481|           137.2932872094049|             170.88835988274246|          162.5645329938148|          34.660243453698165|          56.71396802880309|              56.01362405813306|     1455.1256537897502|       Fixed Deposit|               0|
|    767| 21268.01401834303| 49|         4| Professional|   Tier_2| 4253.602803668607|               0.0| 494.5062904010727|2698.3442187910964|1110.5039398718095| 955.6085947020696| 529.0988323401515| 919.3609794302224| 659.4538241984945|1323.1139350162284| 436.0206796351533|         5.644138911083052| 1200.396254823897| 7888.399920288126|         158.65532995723075|          113.1332334763149|            202.358238829383|              46.97094501693451|         209.16547713010004|           25.01266296239957|         44.294008866352144|              48.77972423805345|      848.3696204767682|       Fixed Deposit|               0|
|    991|11019.424435567173| 29|         3| Professional|   Tier_3|1652.9136653350758| 1426.378948096003| 521.1499854698695|1282.3440665106975| 615.2746409684288| 418.3894309963713| 380.6071582760373| 519.4105711440404|423.97460152710295| 1025.223983000366|306.75726974171334|         8.171138580302634|  900.412441381925|2447.0001145014667|          254.8658152015105|          85.96729170642648|            41.7403961803152|              91.34275338242188|          96.56558866655428|           19.19948540563793|         1.6783925086725078|              70.27763481227365|      661.6373578638123|       Fixed Deposit|               0|
|   1054| 9945.460491850885| 24|         1|Self_Employed|   Tier_2|1989.0920983701767| 737.8763464508536| 379.9515145690407|1394.7599370066669| 540.9475098203862| 252.4381799031386| 356.8769582479023| 795.1966302320865|443.84703947560905| 797.9318472280074| 101.5379584202718|         9.341090576421522| 929.0144727860084| 2155.004472126743|          297.2676290360421|          73.34849010163485|            35.7663572619895|              58.60455729127667|          78.78092715863646|           0.499421776539061|          26.47211602201721|              19.18103782637101|      589.9205364745068|       Fixed Deposit|               0|
|   1327|10519.254841846676| 59|         2| Professional|   Tier_2| 2103.850968369335| 579.3674618911908|299.52503597522303|1237.4999156431572| 752.1076271620531| 481.1258699853175| 394.8132786770181| 470.6040754631088|  518.237114225209|  914.493107411888| 213.7506163426177|         6.877820077644736| 723.4954215311467| 2553.879770700557|         238.87963837113224|          53.17859169386203|          44.572208307707584|              103.6029170193941|         136.91012557817243|          15.519512287230288|         12.867950733067088|             11.355419174236804|      616.8863631648027|       Fixed Deposit|               0|
|   1446|20620.154557572783| 61|         1|      Retired|   Tier_3|3093.0231836359176|               0.0| 821.2949058372279| 2159.381989288554|1275.2504589328637|1005.0098002028273| 896.7504410406788| 972.2477531368208| 787.2491558333704|1741.3319146359202| 422.1796991549227|         5.544650311135364|1143.3154638330525| 7446.435255873679|          612.2713440170229|          364.6127990963973|            157.925833794748|              211.0004465220784|          264.6354190358066|             9.1338644020434|          66.93652111461532|              64.55951727999708|      1751.075745262709|       Fixed Deposit|               0|
|   1677| 48700.16254522209| 27|         1|      Student|   Tier_1|14610.048763566629|               0.0| 2177.396013631542| 5695.981197964504| 3295.580083034286|1811.1761232564145| 1876.503305823524|3874.1447618662073|  1956.76873426649| 3729.821276155761|1071.7724484162889|         10.53224082824947| 5129.218403011737| 8600.969837240453|          875.2244136548766|         476.30978991090245|           358.5261151495945|             191.77133080927737|           591.878499508018|            96.1246038268447|          53.67299594091248|               313.932664131353|      2957.440412931779|                Gold|               1|
|   1782|112722.83683345852| 32|         0| Professional|   Tier_3|16908.425525018778|               0.0| 5279.513293827722| 12013.25847803403| 6187.801644279591|3729.4948592557175|3316.3215198488983| 7065.809533277153| 5504.715277107231|               0.0|1380.5058263956778|         16.05167431943617|  18093.9026521362| 51336.99087641372|         2160.4597531195227|            479.21703661148|           846.9290038644867|              880.7253924510048|          880.7638537254124|          144.78664841532984|                        0.0|              319.2918048581255|      5712.173493045362|         Mutual Fund|               2|
|   1827|  45079.7659600471| 59|         2|      Retired|   Tier_2|  9015.95319200942|               0.0|  2179.74432843299| 5737.934636617405|2332.2549018243712|1656.5969312972477| 957.9705882798384|3102.4476956360086|1598.3141806563788| 2623.724625963319| 526.6901866319557|        11.878629742148838| 5354.858487021243|15348.134692698168|          955.3657442676446|           638.039447355754|          236.98799684706017|             233.44461005131456|          409.9330895842277|           3.216021222015051|          51.93047367892557|              81.70102429209257|     2610.6184072990336|                Gold|               1|
|   1882| 7132.820977159763| 21|         3|Self_Employed|   Tier_1| 2139.846293147929|               0.0| 328.2213885958042| 1040.928280740162| 392.2933936570829|250.95126616195307| 338.6731280007231|348.08232348012564| 218.1697753759894| 485.3662740172073| 186.1817889740084|         9.983202464783016| 712.0839596003734|1404.1070650087777|          306.7095254758195|         112.05298507310872|           49.81132417545031|              41.09861509501175|         100.33409649082664|           1.957097705905452|         3.1839793703445243|             31.332662054612765|      646.4802854410796|       Fixed Deposit|               0|
|   2124| 37494.48985448141| 33|         2|Self_Employed|   Tier_1|11248.346956344423|               0.0|1680.9276737222658| 5598.723369381309| 2710.309026028199|1676.3552631057407|1413.4992492728834|1848.0041596484264|1727.4132064136386|2905.6399192998374|1050.8594724999507|         7.683691757120307|2880.9610263230984| 5634.411558764739|         1080.5192453767831|          555.1856963659527|           447.3874314692032|              198.0182010367033|          476.3913734727503|          25.270361583794475|          103.5094966783254|             133.51838176371018|      3019.800187747223|                Gold|               1|
|   2334|   13757.359783915| 26|         4|      Student|   Tier_2|    2751.471956783|               0.0| 475.2152847920904| 1863.653522793713| 888.4916217076251|  565.944442030392|406.98442300488745| 889.9135084752949|439.69517137980887| 1096.722747175278|374.34790530115725|          9.70789299202659|1335.5497663505687| 4004.919200471754|          422.0851765371687|         158.33237802896045|          144.53880513876135|              89.46362792896926|         201.49579326058563|          18.148160445815765|          13.18504007118984|              28.88609477119989|      1076.135076182651|       Fixed Deposit|               0|
|   2470| 23176.95378187339| 33|         3| Professional|   Tier_3|3476.5430672810085| 3969.210901397216|1140.4584983647137| 3342.150384723825|1388.0929583543311| 546.4821363670084| 788.2427760433796|1052.6108957609272|1038.7335441649384|1375.8595358049624| 426.6770884430513|         7.779747891028474|  1803.10857304994| 4631.891995168033|          203.0265641652783|         197.07966868212904|           79.01608001591852|             236.44384964031423|          226.7895027502799|           32.08217319459328|         13.225278414842403|              85.22885217090129|     1072.8919690342568|       Fixed Deposit|               0|
|   2735|16750.499593734414| 47|         0|      Retired|   Tier_2| 3350.099918746883| 2100.471118056182|  692.465388516271| 2287.250391110532|1111.0654643661962| 566.0508008570545| 723.9325672836851|1031.7638765231384|  603.499501341696|               0.0| 366.2113435883779|         8.737200429425593|1463.5247224346954|3917.6892233443978|          387.2710019488224|         157.72671635973916|          36.416250566499485|              38.64351492206959|          283.2688396242092|          0.9559506182348634|                        0.0|             31.960074043662708|      936.2423480832374|       Fixed Deposit|               0|
|   2823|16081.943509309804| 25|         4| Professional|   Tier_2|3216.3887018619607|2656.3354375650206| 612.7654046650119| 2274.096243250364| 973.9239086924578| 583.9957053548127| 715.2121420752201|1044.6820719313266| 529.8202621838063| 1525.118415804502| 227.4979509462302|         8.475495771467017| 1363.024442101267|1722.1072649790897|         231.01012543683123|          201.7061922726264|          121.93639045136185|             188.37077415469616|         254.40536795053123|           9.523018978501534|         42.887741857121256|              67.46925154713102|     1117.3088626488006|       Fixed Deposit|               0|
|   3629|27374.706981933414| 39|         0|      Student|   Tier_2| 5474.941396386683|1758.9254648574206| 549.6749057920475| 4090.090152496673|  1908.88272470218| 794.9888322670025| 1354.711698965205|1782.2941178397546|1323.9545315075793|               0.0| 694.7646762602451|         7.118740395029869| 1948.734323943956| 7641.478480858619|          731.3567732632075|          221.5468550184861|          149.38188711651733|              87.61761798536956|          321.4301521026604|           55.30631661645547|                        0.0|              146.4245948563797|      1713.064196959076|       Fixed Deposit|               0|
|   3695| 4101.004627108948| 58|         1| Professional|   Tier_1|1230.3013881326842|               0.0| 150.7112698812962| 586.0362295958071|232.06472742652767|131.69947591027042|141.04322125251454|264.01744652680213|184.82279683073864|299.22565584348234|101.80629664289096|         5.571960613132187|228.50636256523907| 779.2761190659335|          70.28618680099649|         12.554510179245955|            9.37023002811276|              29.28943588614405|          36.11047811892301|          3.4068825256270854|          3.222747826126738|             13.701923775965648|     177.94239514114173|       Fixed Deposit|               0|
+-------+------------------+---+----------+-------------+---------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------------+------------------+------------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import col, sum

# Count nulls for each column
null_counts = df.select([
    sum(col(c).isNull().cast("int")).alias(c) for c in df.columns
])

# Show the result
null_counts.show()

+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+
|user_id|Income|Age|Dependents|Occupation|City_Tier|Rent|Loan_Repayment|Insurance|Groceries|Transport|Eating_Out|Entertainment|Utilities|Healthcare|Education|Miscellaneous|Desired_Savings_Percentage|Desired_Savings|Disposable_Income|Potential_Savings_Groceries|Potential_Savings_Transport|Potential_Savings_Eating_Out|Potential_Savings_Entertainment|Potential_Savings_Utilities|Potential_Savings_Healthcare|Potential_Savings_Education|Potential_Savings_Miscellaneous|Total_Potential_Savings|Preferred_Investment|investment_label|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+
|      0|     0|  0|         0|         0|        0|   0|             0|        0|        0|        0|         0|            0|        0|         0|        0|            0|                         0|              0|                0|                          0|                          0|                           0|                              0|                          0|                           0|                          0|                              0|                      0|                   0|               0|
+-------+------+---+----------+----------+---------+----+--------------+---------+---------+---------+----------+-------------+---------+----------+---------+-------------+--------------------------+---------------+-----------------+---------------------------+---------------------------+----------------------------+-------------------------------+---------------------------+----------------------------+---------------------------+-------------------------------+-----------------------+--------------------+----------------+

In [17]:
df = df.na.drop()

In [34]:
# Get number of rows
num_rows = df.count()

# Get number of columns
num_columns = len(df.columns)

print(f" Number of Rows: {num_rows}")
print(f" Number of Columns: {num_columns}")

 Number of Rows: 250000
 Number of Columns: 31

In [35]:
# 💾 Save the cleaned dataset
df.write.option("header", True).mode("overwrite").csv("final_cleaned_original_dataset.csv")